# Sample gitconfig
#

[hub]
    protocol = ssh
[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
[credential]
    helper = GIT_CREDENTIAL_HELPER
[alias]
    amend = commit --amend -C HEAD
    inject = "!f() { set -e; HASH=`git show $1 --pretty=format:\"%H\" -q`; shift; git commit -m \"fixup! $HASH\" $*; [ -n \"$(git diff-files)\" ] && git stash && DIRTY=1; git rebase $HASH^^ -i --autosquash; [ -n \"$DIRTY\" ] && git stash pop;}; f"
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
    editor = vim
    pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
[apply]
    whitespace = nowarn
[merge]
    tool = vimdiff
[mergetool]
    keepBackup = false
[difftool]
    prompt = false
[help]
    autocorrect = 1
[push]
    # See `git help config` (search for push.default)
    # for more information on different options of the below setting.
    #
    # Setting to git 2.0 default to surpress warning message
    default = simple
[pull]
    rebase = true
[submodule]
	fetchJobs = 0
[diff]
	compactionHeuristic = 1
