[submodule "vim/vim.symlink"]
	path = vim/vim.symlink
	url = https://github.com/michaelmior/vimrc.git
[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "git/scm_breeze.symlink"]
	path = git/scm_breeze.symlink
	url = https://github.com/ndbroadbent/scm_breeze.git
