[submodule "vim/vim.symlink"]
	path = vim/vim.symlink
	url = https://github.com/michaelmior/vimrc.git
[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "git/scm_breeze.symlink"]
	path = git/scm_breeze.symlink
	url = https://github.com/ndbroadbent/scm_breeze.git
[submodule "python/pyenv.symlink"]
	path = python/pyenv.symlink
	url = git://github.com/yyuu/pyenv.git
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "tmux/tmux.symlink/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "go/gvm"]
	path = go/gvm
	url = https://github.com/moovweb/gvm.git
[submodule "node/nvm.symlink"]
	path = node/nvm.symlink
	url = https://github.com/creationix/nvm.git
[submodule "zsh/fzf.symlink"]
	path = zsh/fzf.symlink
	url = https://github.com/junegunn/fzf.git
