[submodule "vim/vim.symlink"]
	path = vim/vim.symlink
	url = https://github.com/michaelmior/vimrc.git
[submodule "git/scm_breeze.symlink"]
	path = git/scm_breeze.symlink
	url = https://github.com/ndbroadbent/scm_breeze.git
[submodule "python/pyenv.symlink"]
	path = python/pyenv.symlink
	url = git://github.com/yyuu/pyenv.git
[submodule "tmux/tmux.symlink/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "go/gvm"]
	path = go/gvm
	url = https://github.com/moovweb/gvm.git
[submodule "node/nvm.symlink"]
	path = node/nvm.symlink
	url = https://github.com/creationix/nvm.git
[submodule "zsh/fzf.symlink"]
	path = zsh/fzf.symlink
	url = https://github.com/junegunn/fzf.git
[submodule "zsh/zgen"]
	path = zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "apps/hr"]
	path = apps/hr
	url = https://github.com/LuRsT/hr.git
[submodule "git/git-hooks"]
	path = git/git-hooks
	url = git://github.com/icefox/git-hooks.git
[submodule "rust/rsvm.symlink"]
	path = rust/rsvm.symlink
	url = https://github.com/sdepold/rsvm.git
